$primaryColor: #727272;
$primaryHoverColor: #999;

.header {
  padding: 35px 0 30px 0;
  box-shadow: 0px 4px 15px rgba(214, 214, 214, 0.25);
  border-radius: 10px;
  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: flex-end;
    .nav-item {
      color: $primaryColor;
      text-decoration: none;
      transition: .5s;
      margin-bottom: 0;
      font-size: 18px;
      margin-right: 18px;
      &:hover {
        color: $primaryHoverColor;
      }
    }
    .active-nav-item {
      color: $primaryHoverColor;
    }
  }
}



